<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Car Marketplace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="home-grid">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" sizeMd="8" sizeLg="6">
        <div class="home-content ion-text-center">
          <div class="title-section ion-margin-bottom">
            <h1 class="ion-no-margin">Welcome to Car Marketplace</h1>
            <p class="subtitle ion-no-margin ion-margin-top">Buy or sell used cars with ease</p>
          </div>

          <div class="buttons-section">
            <ion-button 
              expand="block" 
              size="large" 
              (click)="navigateToSell()"
              data-testid="sell-car-button"
              class="ion-margin-bottom">
              <ion-icon slot="start" name="car-outline"></ion-icon>
              Sell Your Car
            </ion-button>

            <ion-button 
              expand="block" 
              size="large" 
              color="secondary"
              (click)="navigateToCars()"
              data-testid="buy-cars-button">
              <ion-icon slot="start" name="search-outline"></ion-icon>
              Buy Used Cars
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
